body {
    background-image: url('../images/background.png');
}

.app-container {
    padding: 10px;

    @media screen and (min-width: $screen-xs) {
        padding: 20px;
    }

    @media screen and (min-width: $screen-sm) {
        padding: 30px;
    }

    @media screen and (min-width: $screen-md) {
        padding: 40px;
    }
}