.source-sans-pro-italic {
    font-family: "Source Sans Pro";
    font-weight: 300;
}

.source-sans-pro-regular {
    font-family: "Source Sans Pro"; 
    font-weight: 400;
}

hr {
    color: $gray-light;
}

[ng-click] {
    cursor: pointer; 
}

.left {
    float: left;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

@media screen and (min-width: $screen-sm) {
    .text-center-sm-up {
        text-align: center;
    }
}