<div class="suppliers-list-container" ng-if="$ctrl.payments.length">
    <div class="head">
        <div class="row">
            <div class="col-sm-6">
                Supplier
            </div>  
            <div class="col-sm-2 text-center">
                Pound Rating
            </div>  
            <div class="col-sm-2 text-center">
                Reference
            </div>
            <div class="col-sm-2 text-center">
                Value
            </div>
        </div> 
    </div>
    <div class="body">
        <suppliers-list-item ng-repeat="supplier in $ctrl.payments" supplier-data="supplier"></suppliers-list-item>    
    </div>
</div>

<div class="suppliers-list-container" ng-if="!$ctrl.payments.length">
    <p> No results </p>    
</div>