
.pound-rating {
    @extend .text-center-sm-up;
    display: inline-block;
    white-space: nowrap;
    
    .pound-icon {
        background-image: url('../images/pound-rating.sprite.png');
        display: inline-block;
        height: 27px;
        margin: 0 1px;
        width: 26px;        
    }

    .pound {
        @extend .pound-icon;
        background-position-x: 26px;
    }

    .pound-checked {
        @extend .pound-icon;
        background-position-x: 0px;
    }
}